__pycache__/
*.pyc
*.swp
*.egg-info/
.DS_Store
Thumbs.db
nnunetv2/
legacy_files/
other_nnUNet_stuff/
windows_commands/
dataset_conversion/
documentation/ 
batch_running/
architecture/
dataset_conversion/
ensembling/
.github/workflows/
logs/
*.out
*.err
